@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
}

.container {
  padding: 10px;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container::-webkit-scrollbar {
  appearance: none;
}

.card {
  width: 50%;
  margin: 20px;
}

#img-heads {
  width: 100%;
  height: auto;
  margin: 10px 0;
  object-fit: contain;
}

.card-text {
  font-family: "Quicksand", sans-serif;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Dark black tint */
}

.image img {
  width: 100%;
  object-fit: contain;
  aspect-ratio: 7/2.8;
}

.image h1 {
  position: absolute;
  bottom: 5%;
  padding: 0 20px;
  color: white;
  font-weight: bolder;
  font-size: 50px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

@media screen and (max-width: 996px) {
  .card {
    width: 60%;
  }
}

@media screen and (max-width: 769px) {
  .card {
    width: 80%;
  }
  .image img {
    aspect-ratio: 7/3.5;
  }
  .image h1 {
    font-size: 35px;
  }
}

@media screen and (max-width: 460px) {
  .card {
    width: 90%;
  }
  .image img {
    aspect-ratio: 7/3.5;
  }
  .image h1 {
    font-size: 25px;
  }
}
